<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header class="w3-container w3-red w3-center" style="background-image: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); padding:100px 16px" > 

  <h1 class="w3-margin w3-jumbo">Bookshelf </h1>
  <p class="w3-xlarge">Browse your favorite books</p>
</header>

<body>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1200px" id="band">
    <div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title"
            style="width: 80%; float: left; height: 50px;" />
          <div class="input-group-append">
            <button mat-flat-button color="primary" class="btn btn-outline-secondary" type="button"
              (click)="searchTitle()" style="width: 20%; float: right; height: 50px; font-size: 16px;">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>

    <br><br><br>
    <div class="w3-row-padding w3-justify w3-margin-top style=float:left; width:80%;">

      <div class="w3-row">

        <h1 class="w3-wide w3-xlarge ">BOOKS LIST</h1>
        <hr style="width:50px;border:solid #673AB7 " class="w3-round" >
        <!--changed from tutorials-->

        <ul class="list-group">
          <!--all changed below-->
          <mat-selection-list #book [multiple]="false">
            <mat-list-option class="list-group-item" *ngFor="let book of books; let i = index"
              [class.active]="i == currentIndex" (click)="setActiveBook(book, i)">
              <b>{{ book.title }}</b>

            </mat-list-option>
          </mat-selection-list>
          <hr>

          <div *ngIf="currentBook">
            <!--changed from tutorials-->
            <div>
              <label><strong>Title:</strong></label> {{ currentBook.title }}
            </div>
            <div>
              <label><strong>Author:</strong></label>
              {{ currentBook.author }}
              <!--changed from description-->
            </div>
            <div>
              <!--below added-->
              <label><strong>Year:</strong></label>
              {{ currentBook.year }}
            </div>
            <div>
              <!--below added-->
              <label><strong>Genre:</strong></label>
              {{ currentBook.genre }}
            </div>

            <br>
            <!--//removed published -->
            <button mat-button mat-stroked-button color="primary"
              [routerLink]="['/books/edit', currentBook._id]">Edit</button>

          </div>

          <div *ngIf="!currentBook">
            <!--changed from currentTutorial-->

            <p>Please click on a Book...</p>
          </div>
        </ul>
      </div>
    </div>

    <div class="w3-row">
      <button mat-raised-button color="primary" routerLink="/books/add"
        style="width: 20%; height: 50px; font-size: 16px;">Add Book</button> &nbsp;
      <button mat-raised-button color="warn" (click)="removeAllBooks()"
        style="width: 20%; height: 50px; font-size: 16px;">
        Remove All
      </button>
    </div>

  </div>


</body>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center " style="background-color:#673AB7 ; color: white;">  
  <div class="w3-xlarge w3-padding-32">

 </div>
 <p>A project by Stephen Birt, Delphine Diallo, Kathreen Greer, Anna Kurenkov. <a href="http://catalog.kennesaw.edu/preview_course_nopop.php?catoid=25&coid=42423" target="_blank">IT Studio Design class</a></p>
</footer>
