<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header class="w3-container w3-red w3-center" style="background-image: url('https://blog.hubspot.com/hubfs/brain-training-books.jpg'); padding:130px 16px" > 
  <h1 class="w3-margin w3-jumbo">Bookshelf </h1>
  <p class="w3-xlarge">Browse your favorite books</p>
</header>

<body style="padding-top: 50px;"> 
<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button mat-flat-button color="primary"
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="mat-body">
    <h4>Books List</h4> <!--changed from tutorials-->
    <ul class="list-group"> <!--all changed below-->
      <mat-list
        class="list-group-item"
        *ngFor="let book of books; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveBook(book, i)"
      >
        <b>{{ book.bookTitle }}</b>
    </mat-list>
    </ul>

    <button mat-raised-button color="primary" routerLink="/books/add">Add Book</button>
    <button mat-raised-button color="warn" (click)="removeAllBooks()">
      Remove All
    </button>
  </div>
  <div class="mat-body">
    <div *ngIf="currentBook"> <!--changed from tutorials-->
      <h4>Book</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentBook.bookTitle }}
      </div>
      <div>
        <label><strong>Author:</strong></label>
        {{ currentBook.bookAuthor }} <!--changed from description-->
      </div>
      <div> <!--below added-->
        <label><strong>Year:</strong></label>
        {{ currentBook.bookYear }} 
      </div>
      <div> <!--below added-->
          <label><strong>Genre:</strong></label>
          {{ currentBook.bookGenre }} 
        </div>
      <!--//removed published -->

      <a class="badge badge-warning" [routerLink]="['/books/edit', currentBook._id]"> <!--changed from tutorials-->
        Edit
      </a>
    </div>

    <div *ngIf="!currentBook"> <!--changed from currentTutorial-->
      <br />
      <p>Please click on a Book...</p>
    </div>
  </div>
</div>
</body>