<div style="width: 400px; margin: auto;">
    <div *ngIf="currentDiscussion" class="edit-form">
      <h4>Discussion Post</h4>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="currentDiscussion.username"
            name="title"
          />
        </div>
  
  
        <div class="form-group">
          <label for="postn">Post Title</label>
          <input
            type="text"
            class="form-control"
            id="postn"
            [(ngModel)]="currentDiscussion.postn"
            name="description"
          />
        </div>
  
        <div class="form-group">
        <label for="bookn">Book Title</label>
        <input
          type="text"
          class="form-control"
          id="bookn"
          [(ngModel)]="currentDiscussion.bookn"
          name="description"
        />
    </div>
  
        <div class="form-group">
          <label for="post">Post</label>
          <input
            type="text"
            class="form-control"
            id="post"
            [(ngModel)]="currentDiscussion.post"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentDiscussion.read ? "Read" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentDiscussion.read"
        (click)="updateRead(false)"
      >
       Mark Unread
      </button>
      <button
        *ngIf="!currentDiscussion.read"
        class="badge badge-primary mr-2"
        (click)="updateRead(true)"
      >
        Read
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteDiscussion()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateDiscussion()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentDiscussion">
      <br />
      <p>Cannot access this discussion post...</p>
    </div>
  </div>
