<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header class="w3-container w3-red w3-center"
  style="background-image: url('https://images.pexels.com/photos/590493/pexels-photo-590493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); padding:100px 16px">

  <h1 class="w3-margin w3-jumbo">Bookshelf </h1>
  <p class="w3-xlarge">Browse your favorite books</p>
</header>

<body>
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:1200px" id="band">
    <div style="width: 400px; margin: auto;">
      <div *ngIf="currentBook" class="edit-form">
       <!--  <h1>Update Book</h1> -->
        <!--changed from currentTutorial-->
        <form>
          <div class="form-group">
            <label for="title">Title</label><br>
            <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput placeholder="Book Title" type="text" class="form-control" id="title" [(ngModel)]="currentBook.title" name="title" />
          </mat-form-field>
          </div>
          <div class="form-group">
            <label for="author">Author</label><br>
            <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput placeholder="Book Author" type="text" class="form-control" id="author" [(ngModel)]="currentBook.author" name="author" />
            <!--changed all from tutorial and description-->
          </mat-form-field>
          </div>

          <div class="form-group">
            <!--added-->
            
            <label for="author">Year</label><br>
            <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput placeholder="Enter publishing year" type="number" class="form-control" id="year" [(ngModel)]="currentBook.year" name="year" />
            <!--made input type number-->
          </mat-form-field>
          </div>

          <div class="form-group">
            <!--added-->
            <label for="author">Genre</label>
            <mat-form-field appearance="fill" style="width: 100%;">
            <input matInput placeholder="Enter book genre" type="text" class="form-control" id="genre" [(ngModel)]="currentBook.genre" name="genre" />
          </mat-form-field>
          </div>

          <!--removed published-->
        </form>

        <!--removed published & unpublish button-->
        
        <button type="submit" mat-raised-button color="primary" (click)="deleteBook()" class="btn btn-success" style="width: 45%;"> Delete</button>
        <button type="submit" mat-raised-button color="primary" (click)="updateBook()" class="btn btn-success" style="width: 45%;"> Update</button>
        <p>{{ message }}</p>
      </div>

      <div *ngIf="!currentBook">
        <br />
        <p>Cannot access this book...</p>
      </div>
    </div>