<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Header -->
<header class="w3-container w3-red w3-center" style="background-image: url('https://blog.hubspot.com/hubfs/brain-training-books.jpg'); padding:100px 16px" > 
    <h1 class="w3-margin w3-jumbo">BookApp </h1>
    <p class="w3-xlarge">Welcome to your virtual bookshelf!</p>
    <button routerLink="/books"  button mat-flat-button color="primary" class="w3-button  w3-padding-large w3-large w3-margin-top">Browse books</button>
  </header>

  

<h2>Welcome to BookApp!</h2>
<p>This app that acts as a social forum for users to create their own virtual bookshelf, post book reviews, take part in discussions with other users, and get the latest news in book publishing. Examples of this type of application include GoodReads and LibraryThing.</p>
<p>This app created for Kennesaw State University course MSIT 6203 Fall 2020.</p>


</html>


